.ar-main {
	text-align: center;
}

.img1-ar {
	height: 55%;
	width: 55%;
}

.img2-ar {
	height:60%;
	width: 60%;
}

.img1-ar-div {
	margin-top: 5rem;
	margin-right: 10rem;
	display: flex;
	justify-content: right;
}

.img2-ar-div {
	margin-top: 15rem;
	/* margin-right:30rem; */
	display: flex;
	justify-content: left;
}