.front {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 5rem;
	
}

.front1 {
height: 45%;
width: 45%;
}

.home {
	text-align: center;
}

@media only screen and (max-width: 730px) {
	.front1 {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 5rem;
	margin-right: 4rem;
	margin-bottom: 6rem;
	

	}
}