@import url('https://fonts.googleapis.com/css2?family=Ysabeau:wght@100&display=swap');



.studio {
	text-align: center;
	
}

.studio-h1 {
	font-family: 'Ysabeau', sans-serif;
}


.gallery {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 5rem;
}


.image {
	width: auto;
	height: 36vh;
	object-fit: cover;
	margin: 30px;
	margin-top: 4rem;
}


@media only screen and (max-width: 530px) {
	.gallery {
		display: block;
	}

	.image {
		width: auto;
			height: 30vh;
			object-fit: cover;
			margin: 30px;
			margin-top: 4rem;
	}
}

.id-site {
	color: black;
}