.studio {
	text-align: center;
	
}

.studio-h1 {
	font-family: 'Ysabeau', sans-serif;
}


.gallery {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 5rem;
}



.image {
	width: auto;
	height: 36vh;
	object-fit: cover;
	margin: 30px;
	margin-top: 4rem;
}




.filter {
	filter: grayscale(100%);
	transition: background .20s ease-in-out; 
}

.filter:hover {
	filter: grayscale(0);
	transform: scale(1.01);
}

@media (max-width: 768px) {
	.gallery {
		display: block;
	}

.image {
		width: auto;
			height: 30vh;
			object-fit: cover;
			margin: 30px;
			margin-top: 4rem;
}

.id-site {
	color: black;
}

}